* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lavender;
  align-items: center;
}
main {
  margin-left: 25%;
  margin-right: 25%;

}

.nav-top {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkseagreen;
  position: fixed;
  top: 0;
  width: 100%;

}
li {
  display: inline;
  float: right;
}
li a {
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* change the link color to #111 (black) on hover */
li a:hover {
  background-color: black;
}
.active-home {
  background-color: darkolivegreen;
}
.heading{
  margin-top: 70px;
  margin-left: 25px;
  
}
.statement-photo {
  font-size: larger;
  width: auto;
  height: auto;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

img {
  border-style: none;
  height: 300px;
  width: 200px;
  float: right;
  margin-left: 10px
}

.quote {
  font-size: larger;
  margin-left: 50px;
  font-style: italic;
  padding-top: 250px;
  align-content: center;
  
}
.active-about {
  background-color: darkolivegreen;
}
.active.portfolio {
  background-color: darkolivegreen;
}

.first-about {
  border-style: double;
  border-left: 0px;
  border-right: 0px;
  width: auto;
  height: auto;
  margin-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.watching-tv {
  border-style: none;
  height: 150px;
  width: 250px;
  float: left;
  margin-right: 10px;
}

.second-about {
  border-style: double;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  width: auto;
  height: auto;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.with-family {
  border-style: none;
  height: 150px;
  width: 250px;
  float: right;
  margin-left: 10px
}

.third-about {
  border-style: double;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  width: auto;
  height: auto;
  margin-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.garfield-sleeping {
  border-style: none;
  height: 150px;
  width: 250px;
  float: left;
  margin-right: 10px;
}
h2 { 
padding-bottom: 10px;
}